<!--<div class="container">
<h1 class="title">About Us</h1>
<img [src]="'image/background.jpeg'" height="300px" width="300px" class="image">
<p class="para">Welcome to a world where learning has no boundaries! Our E-learning platform is designed for students, educators, and innovators who believe that education should be as dynamic and accessible as the digital age.
    Imagine a classroom that fits right in your pocket—one that’s available anytime, anywhere, and adapts to your learning style. From immersive courses to interactive projects, we empower you to chart your own academic journey, whether you’re a curious student, a passionate professor, or an organized administrator.
    Here, we believe that education is more than just grades and assignments—it’s about growth, collaboration, and innovation. Our platform is built with these principles at heart, offering personalized dashboards, real-time collaboration tools, and secure, role-based access for every user.
    Dive in and discover a smarter way to learn. Because with us, the future of education isn’t just bright—it’s already here.
</p>
</div>-->
<div class="aboutPage-container">
    <div class="container">
        <div class="blue-overlay">
            <div class="heading-container">
                <h1 style="font-size: 100px;">About Us</h1>
                <p style="font-size: 20px;">Our LearnPro Platform offers High-quality courses designed to help you learn and grow at your own pace<br>We are commited to delivering an engaging and accessible learning experience for everyone</p>
            </div>
        </div>
    </div>
    <div class="features-container">
            <div class="feature">
                <img [src]="'/image/blue-course.png'" width="60" height="60">
                <h2>Interactive<br>Courses</h2>
                <p>Engaging lessons and<br> assignments</p>
            </div>
            <div class="feature">
                <img [src]="'/image/interface-blue.png'" width="60" height="60">
                <h2>User-Friendly<br>Interface</h2>
                <p>Easy navigation for a smooth <br>learning experience</p>
            </div>
            <div class="feature">
                <img [src]="'/image/progress-blue.png'" width="60" height="60">
                <h2>Progress<br>Tracking</h2>
                <p>Monitor our learning journey</p>
            </div>
            <div class="feature">
                <img [src]="'/image/person-blue.png'" width="60" height="60">
                <h2>Skilled<br>Instructors</h2>
                <p>Courses taught by<br> qualified professionals</p>
            </div>
    </div>
</div>