.form-container{
    height:560px;
    width:510px;
    font-family: Arial;
    background-color: lavender;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}
.title{
    text-align: center;
    padding-top:30px;
}
.form-list{
    padding-left: 40px;
    font-size: 18px;
}
.input-box{
    height:40px;
    width:250px;
    margin-left: 30px;
    border-radius: 50px;
    border: none;
    padding-left: 20px;
    font-size: 15px;
}
#option-box{
    height:40px;
    width:270px;
    margin-left: 30px;
    border-radius: 50px;
    border: none;
    padding-left: 20px;
    font-size: 15px;
}
.row{
    border-spacing: 10px 20px;
}
label{
    display: inline-block;
    width: 100px;
}
.container{
    height:50px;
    width:440px;
    display:flex;
    justify-content: space-between;
    font-size: 16px;
}
.login-btn{
    margin-left: 83px;
    height: 38px;
    width: 270px;
    margin-top: 18px;
    border-radius: 50px;
    font-size: 20px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
}
.register{
    margin-left: 70px;
    margin-top: 30px;
}
.check-box{
    height: 18px;
    width: 18px;
    margin-top: 15px;
}
.remember{
    margin-right: 170px;
}
.error-box{
    width: 400px;
    height: 5px;
}
.error-message{
    font-size: 13px;
    color:red;
    padding-left: 50px;
}


