body {
    height: 100%;
    margin: 0;
}

.container {
    height: 400px;
    width: 800px;
    background-color: lavender;
    border-radius: 40px;
    font-family: Arial;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title{
    text-align: center;
    padding-top: 25px;
}
.btn-container{
    height: 180px;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-top: 25px;
}
.btn{
    height: 190px;
    width: 190px;
    border-radius: 50%;
    cursor: pointer;
}
.role-container{
    height: 50px;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    gap: 120px;
    padding-left: 105px;
    padding-top: 25px;
}